body {
    font-family: sans-serif;
    background-image: linear-gradient(MediumSlateBlue,CornflowerBlue,DodgerBlue);
}



h1 {
    text-shadow:3px 4px 1px #8A2BE2 ;
    color: #FFFAFA;
    text-align: center;
}



h1:hover          {
  text-shadow:3px 4px 1px Indigo ;   
}



li  {
    font-size: 20px;
    color: #D8BFD8;
}



ul   {
    border-right: 4px solid #483D8B;
    width: 250px;
}




li:hover  {
    color: #483D8B;
}



aside  {
    background-color: #8A2BE2;
    width: 120px;
    text-align: center;
    height: 90px;
    padding-top:60px ;
    border-radius: 20%;
    position: fixed;
    right: 20px;
} 



a {
    text-decoration: none;
    color: aliceblue;
}
